# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- libraries used by Data Scientists 
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python 
1. SQL
1. R

Some of the commonly used libraries used by Data Scientists include:
1. numpy
1. matplotlib
1. keras
1. Pandas
1. pytorch
1. scikit-learn

|Data Science Tools|
--------------------
| RStudio |
|jupyterlab|
| Watson studios |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

## Author
Yara Mohamed Helmy Hassan Elwakeel